
body {
    background-color:rgb(3, 65, 44);
    color:azure;
}
.container{
   /* border: 1px solid black; */
   margin:0 auto;
   text-align:center;
   width:75%;
}
.flex1{
    display:flex;
    border: 1px solid black; 
    padding:10px;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
 .flex2 div{
    display:flex;
    border: 1px solid black; 
    padding:10px;
    justify-content: space-around;

} 

.flex-box{
    display:flex;
     /* border: 1px solid black;  */
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto;
}
 .cg img{
    margin:10px;
    border : 1px solid black;
    box-shadow: 0px 10px 10px rgba(182, 238, 108, 0.7);
   
}
 .rps img{
    width : 150;
    height: 250;
    border : 1px solid black;
    
}
.flex-box img:hover{
box-shadow: 0px 4px 8px 0 rgb(39, 42, 204);
}
.ishadow{
    box-shadow: 0px 4px 8px 0 rgb(49, 20, 82);
}
.borderpad{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align:center;
    padding: 10px;
}
.btn-danger{
    display:flex;
    margin-top:10px;
    margin-bottom:10px;
    border: 1px solid black;
    justify-content: space-around;
    align-items:center;
    /* height:50;
    width:70; */
}
.btndiv{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
}
