body {
  background-color: #b0b8b4ff;
  color: azure;
}
.container {
  margin: 5vh auto;
  width: 100vw;
}
.title {
  text-align: center;
  color: #2a2a2a;
  font-size: 2rem;
}

.flex-box {
  display: flex;
  /* border: 1px solid white; */
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px auto;
}

.rps img {
  width: 12vw;
  height: 32vh;
  border: 1px solid black;
}
.flex-box img:hover {
  box-shadow: 0px 5px 10px 0 white;
}
.ishadow {
  box-shadow: 0px 4px 8px 0 white;
}
.borderpad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
}
.borderpad img {
  height: 32vh;
  width: 12vw;
  box-shadow: 0px 4px 8px 0 white;
}
.btn {
  background-color: #2a2a2a;
  display: flex;
  margin: 1vh 1vw;
  border: 1px solid black;
  justify-content: space-around;
  align-items: center;
}
.Btn:hover {
  box-shadow: 0px 4px 8px white;
}
.btndiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.page-foot {
  width: 100vw;
  bottom: 0;
  position: fixed;
}
.row {
  padding: 0.2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.connections {
  width: 65vw;
  display: flex;
  justify-content: space-around;
}

.icon {
  color: #2a2a2a;
  margin: 0.5vw;
}

.icon:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.copyright {
  align-items: center;
  color: #2a2a2a;
  font-size: 1em;
  text-decoration: none;
  margin-right: 0.5vw;
}

.copyright:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 740px) {
  .btn {
    font-size: 0.8rem;
  }
  .rps img {
    width: 15vw;
    height: 32vh;
    border: 1px solid black;
  }
  .borderpad h1 {
    font-size: 1.5rem;
  }
  .borderpad img {
    height: 32vh;
    width: 15vw;
    box-shadow: 0px 4px 8px 0 white;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
  .borderpad h1 {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.8rem;
  }

  .rps img {
    width: 20vw;
    height: 32vh;
    border: 1px solid black;
  }

  .borderpad img {
    height: 32vh;
    width: 20vw;
    box-shadow: 0px 4px 8px 0 white;
  }

  /* .page-foot {
    background-color: white;
  } */
  .copyright {
    margin-left: 10vw;
    display: inline-block;
    justify-content: space-around;
  }
  .connections {
    display: none;
  }
}
